{
    "all": true,
    "exclude": ["test", "src/lib/utils/timed-match/match-proc.js", "src/lib/utils/fetchFacade.js"],
    "output": "reports",
    "reporter" : [
        "html",
        "text",
        "lcov"
    ]
}