dist: trusty
sudo: false

language: node_js
node_js:
- '8'

addons:
  sonarcloud:
    organization: "petruki"
    token:
      secure: ${SONAR_TOKEN}

jobs:
  include:
    - stage: compile
      script:
        - npm install
    - stage: test
      script:
        - npm test
        - sonar-scanner   

stages:
  - compile
  - test

after_success: npm run coverage