dist: trusty

language: node_js
node_js:
- '12'

branches:
  only:
  - master

addons:
  sonarcloud:
    organization: "switcherapi"
    token: ${SONAR_TOKEN}

jobs:
  include:
    - stage: compile and test
      script:
        - npm install
        - npm test
        - sonar-scanner

stages:
  - compile and test

after_success: npm run coverage